.typing-text-display {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
}

.missing {
  color:rgb(181, 181, 181);
  font-size: 30px;
}

.correct {
  color: rgb(1, 175, 1);
  font-size: 30px;
}

.incorrect {
  color: rgb(175, 1, 13);
  font-size: 30px;
  background-color: rgb(175, 1, 13, .2);
}

.error {
  z-index: 1;
  position:absolute
}