.timer-container {
  width: 100vw; 
  height: 100px; 
  display: flex;
}

.timer-slider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 75px;
  background: green
}

.game-over {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.win {
  background: green;
}

.loss {
  background: red;
}